# 가상환경
.venv/
venv/

# 데이터 및 모델 (용량 큰 파일)
data/raw/
data/raw_sub/
data/processed/
data/augmented/
outputs/models/

# Python 캐시
__pycache__/
*.ipynb_checkpoints
*.pyc
*.ipynb_checkpoints/

# 환경변수
.env

# 데이터 로드
data/
.data/venv/
.venv/
__pycache__/
*.pyc
